@font-face {
	font-family: "PT Sans";
	src: url("PTSans-Web-Regular.woff2") format("woff2"),
		 url("PTSans-Web-Bold.woff2") format("woff2");
}

body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;	
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

a {
	color: #000000;
}


.main-navigation {
	display: flex;
	justify-content: space-between;
}

.main-navigation a{
	width: 239px;
}

.logo-box {
	width: 244px;
}

.main-navigation a:focus,
.main-navigation a:hover {
	color: #a3c7de;
}

.main-navigation a:active {
	color: #b2b2b2;
}

.current-page {
	color: #766357;
}

.features-picture {
	color: #ffffff;
	background-color: #81b3d2;

}

.features {
	line-height: 26px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}
.features h2 {
	width: 636px;
}

.city {
	display: flex;
}

.city .features-item-text {
	width: 400px;
}

.bridge {
	display: flex;
	flex-direction: row-reverse;
}

.description,
.features .item {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.booking h2 {
	font-size: 30px;
	line-height: 36px;
}

.features-no-picture {
	background-color: #eeeeee;
	display: flex;
	justify-content: space-around;
}

.features-no-picture div {
	width: 300px;
}
.booking {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;

}

.booking-text {
	width: 1200px;
	background-color: #ffffff;
}

.booking button {
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #766357;
	border: none;
}

.booking button:hover,
.booking button:focus {
	background-color: #604e43;
}

.booking button:active {
	background-color: #503e33;
	color: #857871;
}

footer .container {
	display: flex;
	justify-content: space-between;
}

footer .container div,
footer .container a {
	width: 400px;
}

.modal-form button {
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;

	background-color: #81b3d2;
}

.modal-form button:hover,
.modal-form button:focus {
	background-color: #669ec0;
}

.modal-form button:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.booking {
	background-image: url("../img/map1200.jpg");
}

.signboard {
	background-image: url("../img/signboard1200.jpg");
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
}

.signboard img:last-child {
	margin-top: 21px;
	margin-bottom: 0;
}

.house,
.food,
.suvenirs {
	background-repeat: no-repeat;
	background-position: top center;

}

.house {
	background-image: url("../img/icon-1.svg");
}

.suvenirs {
	background-image: url("../img/icon-2.svg");
}

.food {
	background-image: url("../img/icon-3.svg");
}

.modal-form {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

 .modal-form input {
	background-color: #f2f2f2;
}
.modal-form input:focus {
	background-color: #ffffff;
}

.modal-form input:hover {
	background-color: #ebebeb;
}

.copyright {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
}

.filter-form legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.search-filter {
	background-image: url("../img/signboard1200.jpg");
	background-repeat: no-repeat;
}
.search-filter h3 {
	font-size: 16px;
	line-height: 21px;
}

.filter-form {
	display: flex;
}

.filter-form div {
	width: 320px;
}

.infrastructure {
	margin-left: 73px;
}

.cost-house {
	margin-left: auto;
	margin-right: 73px;
}

.filter-form label,
.cost-house a,
.cost-house output,
.product,
.item-rating {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.cost-house a {
	background-color: rgba(0, 0, 0, 0);
	color: #ffffff; 

}

.cost-house a:hover,
.cost-house a:focus {
	color: #000000;
	background-color: #ffffff;
}

.result-search-box {
	display: flex;
}

.result-search-box .amount {
	margin-left: 73px;
}


.result-search .item,
.result-search .item-current {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.sorting a {
	color: #d1d1d1;
}

.sorting a:hover,
.sorting a:focus {
	color: #81b3d2;
}

.sorting a:active {
	color: #000000;

}
.item-current a {
	color: #81b3d2;
}

.arrows a {
	color: #cacaca;
} 

.arrows a:hover,
.arrows a:focus {
	color: #000000;
}

.arrows a:active,
.arrows .active {
	color: #81b3d2;
}

.catalog-item {
	display: flex;
	padding: 30px;
}

.catalog-item div:last-child {
	margin-left: auto;
	margin-right: 43px;
}

.catalog-item img {
	margin-left: 43px;
}

.amount,
.hotel-name {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.item-rating {

	background-color: #f2f2f2;
	color: #666666;
	font-weight: 400;
}

.info-more,
.buy {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
}

.info-more {
	background-color: #81b3d2;
	color: #ffffff;

}

.buy {
	background-color: #766357; 
	color: #ffffff;
}

.info-more:focus,
.info-more:hover {
	background-color: #669ec0;
}

.buy:focus,
.buy:hover {
	background-color: #604e43;
}

.info-more:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.buy:active {
	background-color: #503e33;
	color: #857871;
}

.hotel-name {
	color: #000000;
}

.hotel-name:focus,
.hotel-name:hover {
	color: #81b3d2;
}

.hotel-name:active {
	color: #b2b2b2;
}